.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.contact-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #494d55 url("images/map.png") no-repeat center center;
  color: #fff;
}

.no-border-radius {
  border-radius: 0 !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.font-red {
  color: #bf404c;
}

.background-red {
  background-color: #bf404c;
}
.border-none {
  border: none;
}